viewport {
    background-color: gray;
}

.titleLogo {
   margin: 5% 0 0 0;
   width: 100%;
}

/* #stadium {
    width: 150%
} */

.middlePage {
    /* background-color:red; */
    margin: 0 10%;
    
}



#pikachu1 {
    width: 25%;
}
#squirtle1 {
    width: 25%;
}
#charmander1 {
    width: 25%;
}
#bulbasaur1 {
    width: 25%;
}

#trainerLeft {
    /* height: 100%; */
    background: transparent;
    border-color: transparent;
}
#trainerRight {
    background: transparent;
    border-color: transparent;
}


.charButton {
  background: transparent;
  border-color: transparent;
  margin: 10% 0 0 0
}
.charButton:hover {
    border-color: rgb(238, 91, 74);
}

/* 
#stadium {
    
    z-index: -1;
   
} */

#stadium {
        /* background-color: red; */
        background-image: url("../../assets/images/stadium_field.png");
        background-repeat: no-repeat;
        background-position: 50% 50%;
        background-size: 100%;
        
}

#stadiumSizer {
    opacity: 0;
}

#attackButton {
    text-align: center;
    font-size: 30px;
    /* background-color: red; */
    /* border: none; */
}

#p1HealthText {
    color: rgb(204, 204, 204);
}

#p1Health {
    color: rgb(65, 201, 255);
}

#cpuHealthText {
    color: rgb(204, 204, 204);
}

#cpuHealth {
    color: rgb(65, 201, 255);
}

#messageBar {
    text-align: center;
    color: rgb(255, 51, 0);
}

#messageBar2 {
    text-align: center;
    color: rgb(231, 64, 22);
}

/* .pcol1 {
    background-color: red;
}
.pcol2 {
    background-color: rgb(242, 255, 0);
}
.pcol3 {
    background-color: rgb(9, 255, 0);
}
.pcol4 {
    background-color: rgb(0, 183, 255);
}
.pcol5 {
    background-color: rgb(0, 17, 255);
}
.pcol6 {
    background-color: rgb(221, 0, 255);
}
.pcol7 {
    background-color: rgb(255, 0, 119);
}
.pcol8 {
    background-color: none;
}
.pcol9 {
    background-color: none;
} */